@media screen and (max-width: 1200px) {

  .wrapper {
    max-width: 90vw;
  }

  .what-we-do {

    &__blocks {

      margin: auto;
      padding: 0;
    }
  }

  .intro {

    &__links {

      transform: rotate(0) translate(0);
      position: relative;
      top: 40px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

@media screen and (max-width: 950px) {

  h5 {
    max-width: max-content;
    margin: auto;
  }

  .global {
    color: $dark-blue;
    z-index: 3;
  }

  .process {
    flex-direction: column;

    &__block_right, &__block_left {
      margin: auto;
    }
  }

  .testimonials {

    margin: auto;
    max-width: max-content;

    &__block {

      flex-direction: column;
      justify-content: center;
    }

    &__item {
      margin: auto;
    }
  }

  .contacts {

    margin: auto;

    &__items {
      margin: 53px auto;
    }
  }

  .form {
    margin: auto;

    &__heading {
      max-width: max-content;
      margin: auto;
    }
  }

  .form__button_area {
    max-width: 90vh;
    text-align: center;
  }

  .intro {
    &__section {
      left: 180px;
      right: 180px;
      //max-width: max-content;
      margin: auto;
    }
  }
}

@media screen and (max-width: 750px) {

  .menu, .footer__menu {

    flex-direction: column;
    align-items: center;

    &__list, .footer__list {

      flex-direction: column;
      align-items: center;
    }

    &__hire {
      margin: 0;
    }
  }

  h4 {
    max-width: max-content;
    margin: auto;
  }

  .global {

    position: absolute;
    top: 300px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;

    &__section {

      text-align: center;
    }

    &__button {

      margin: auto;
      background-color: $orange;
    }
  }

  .features {
    top: 90px;

    &__background {

      &::after {
        background-image: none;
      }
    }

    &__block {
      margin: auto;
    }
  }

  .intro {
    position: relative;
    top: 200px;

    &__button_lr {
      position: relative;
      left: 0;
      right: 0;
      top: -32px;
      bottom: 0;
      margin: 0 auto;
    }

    &__section {
      left: 180px;
      right: 180px;
      max-width: max-content;
      margin: auto;
    }
  }

  .welcome {

    position: relative;
    max-width: 80vh;
  }

  .what-we-do {

    &__blocks {

      flex-direction: column;
      margin: auto;
      padding: 0;
    }

    &__item {
      margin: auto;
    }

    &__img {
      margin: 20px auto;
    }
  }

  .process {

    div:not(.process__text-heading) {
      margin: 10px auto;
    }

    &__text-heading {
      margin: 20px 0 20px;
    }

    &__block_right {
      position: relative;
      flex-direction: column;

      &_item:nth-child(odd) {
        top: 0;
        margin: 20px auto;

      }
    }
  }

  .footer__email {
    order: 1;
  }

  .what-we-do {

    &__heading {
      margin-bottom: 50px;
    }

    &__item {
      margin-bottom: 50px;
    }
  }

  .process {
    padding-top: 50px;
  }

}

