.what-we-do {

  &__heading {
    max-width: max-content;
    margin: 136px auto;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
    padding-right: 97px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 264px;
    /*padding-right: 128px;*/
  }

  &__img {

    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__text-center {
    font-size: 19.6px;
    line-height: 140%;
    font-weight: 900;
    margin: 64px 0 32px;
  }
}
